@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove white border on input focus */
input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

